@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --color-primary: #0E1F51;
  --color-secondary: #df6055;
  --color-dark: #252525;
  --color-off-white: #F7F7F7;
  
  --radius: 0.5rem;
  
  --border-radius-lg: var(--radius);
  --border-radius-md: calc(var(--radius) - 2px);
  --border-radius-sm: calc(var(--radius) - 4px);
}

